<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>W Captação</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container">

    <section class="row">

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    <h2 class="panel-title"> Menu</h2>

                </div>

                <div class="panel-body">


                    <ul class="nav nav-pills nav-stacked">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-phone-alt"></span>  Chamados  </a>
                            <ul class="dropdown-menu">

                                <li><a href="#"> Realizar Chamado </a></li>
                                <li><a href="#"> Chamados em aberto </a></li>
                                <li><a href="#"> Lista de Chamados </a></li>


                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>  Cadastros  </a>
                            <ul class="dropdown-menu">

                                <li><a href="#"> Agentes </a></li>
                                <li><a href="#"> Alunos </a></li>



                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-file"></span>  Aquivos  </a>
                            <ul class="dropdown-menu">

                                <li><a href="#"> Gerar Relatórios </a></li>
                                <li><a href="#"> Carregar lista de alunos </a></li>



                            </ul>
                        </li>




                    </ul><!-- FIM 	DO NAV - PARA NAVEGACAO -->


                </div>

            </div>

        </div>

    </section>



</body>
</html>
